.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.description {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

.link {
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}